<body class="staticpages">
    <div class="container">
        <h1 class="mt-5">
            <em>About</em>
        </h1>
        <div class="row">
            <div class="col-lg-6">
                <div class="jumbotron opacity">
                    <p>Welcome to the Learn English Online</p>
                    <p >I am your IELTS teacher and the author of this website.</p>
                    <p>My aim is to help you understand IELTS and achieve a high score.</p><br>
                    <h4 class="signature float-right">Shinya Mori</h4>
                    <%# <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a> %>
                </div>
            </div>
        </div>
    </div>
</body>