<div class="container">
    <div id="wrapper">
        <div class="top-image">
            <div class="top-text-area">
                <h1 class="top-text">LEARN ENGLISH ONLINE</h1>
                <p>Find out what you need to know about the IELTS test and learn techniques and strategies to improve your test performance.</p>
            </div>
        </div>
    </div>
</div>