<body class="admin-category-new">
    <div class="container">
        <div class="jumbotron opacity pt-4 pb-5 mb-2 mt-4">
            <div class="row">
                <div class="col-6 mx-auto">
                    <h1 class="text-center m-4 admin-category-new-title">Update Words</h1>
                    <%= render "form",btn_msg: "Update Words"%>
                </div>
            </div>
        </div>
    </div>
</div>