<body class="signup">
<div class="col-6 mx-auto">
    <div class="jumbotron opacity">
        <h1 class="text-center m-4">Update Your Profile</h1>
        <%= render "form",btn_msg: "Update Profile"%>
    </div>
</div>