<body class="staticpages">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="card-header mt-5">
                    <h1 class="text-center">
                        <em>Dashboard</em>
                    </h1>
                </div>
                <div class="card">
                    <div class="text-center">
                        <div class="card-body mt-3">
                            <div class="text-center dashboard_img">
                                <div class="text-center">
                                    <div class="mt-2">
                                        <% if current_user.avatar? %>
                                            <%= image_tag current_user.avatar.url, class: "img-size"%>
                                        <% else %>
                                            <%= image_tag 'profile.png', class: "img-size"%>
                                        <% end %>
                                    </div>
                                    <h2 class="mt-4"><%= current_user.name %></h2>
                                </div>
                                <div class="mt-4">
                                    <p>learned 0 words</p>
                                    <p>learned 0 lessons</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-7 ml-5">
                <div class="card mt-5">
                    <h1 class="card-header text-center">
                        <em>Activities</em>
                    </h1>
                </div>
            </div>
        </div>
    </div>
</body>