<body class="staticpages">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <h1 class="mt-5 mb-3 text-center">
                    <em>DASHBOARD</em>
                </h1>
                <div class="card mb-4">
                    <div class="text-center">
                        <div class="card-body mt-3">
                            <div class="text-center">
                                <img src="/assets/kubo.jpeg" class="img-rounded">
                                <div class="text-center">
                                    <h2 class="mt-5"><%= current_user.name %></h2>
                                </div>
                                <div class="mt-4">
                                    <p>learned 0 words</p>
                                    <p>learned 0 lessons</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-7 ml-5">
                <div class="card mt-5">
                    <div class="card-header text-center">
                        <h3>Activities</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>