<body class="signup">
    <div id="wrapper">
        <div class="container">
            <div class="jumbotron mt-4">
                <div class="row">
                    <div class="col-lg-6 offset-3">
                        <h1 class="text-center signup-title">Sign up</h1>
                        <%= render 'form', btn_msg: "Create an account"%>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>