<body class="admin-category-new">
    <div class="container">
        <div class="jumbotron mt-4">
            <div class="row">
                <div class="col-lg-6 offset-3">
                    <h1 class="text-center admin-category-new-title">New Category</h1>
                    <%= render 'form', btn_msg: "Create New Category"%>
                </div>
            </div>
        </div>
    </div>
</body>