* {
	margin:0;
	padding:0;
}

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin:0;
  padding:0;
  border:0;
  outline:0;
  font-size:100%;
  vertical-align:baseline;
  background:transparent;
}

html {
	overflow-y:scroll;
}

body {
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
  display:block;
}

nav ul {
  list-style:none;
}

blockquote, q {
  quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content:'';
  content:none;
}

a {
  margin:0;
  padding:0;
  font-size:100%;
  vertical-align:baseline;
  background:transparent;
}

p {
	margin:0 0 1em 0;
}

li {
	list-style-type:none;
}

ol, ul {
  list-style: none;
  list-style-type: none;
}

img {
	border:0;
}

address {
	font-style:normal;
}

// 全体

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

// .staticpages

.staticpages {
  background-image: url(sunset.jpg);

}

.signup {
  background-image: url(signup.jpg);
  background-size: 100%;
}

.jumbotron {
  background: rgba(151, 150, 150, 0.438) !important;
}

// .opacity {
//   background: rgba(200, 200, 200, 0.5);
// }

// home

.top-image {
  display: inline-block;
  text-align: center;
}

.top-text-area {
  text-align: center;
  padding: 30px 100px 0px 100px;
  margin: 0px 70px;
}

.top-text {
  font-size: 75px;
  display: inline-block;
  text-align: center;
}


// about

.float-right {
  float: right;
}

// dashboard

.card-body {
  padding: 1.25em;
}


.img_size {
  width: 180px;
  height: 180px;
}
