* {
	margin:0;
	padding:0;
}

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin:0;
  padding:0;
  border:0;
  outline:0;
  font-size:100%;
  vertical-align:baseline;
  background:transparent;
}

html {
	overflow-y:scroll;
}

body {
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
  display:block;
}

nav ul {
  list-style:none;
}

blockquote, q {
  quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content:'';
  content:none;
}

a {
  margin:0;
  padding:0;
  font-size:100%;
  vertical-align:baseline;
  background:transparent;
}

p {
	margin:0 0 1em 0;
}

li {
	list-style-type:none;
}

ol, ul {
  list-style: none;
  list-style-type: none;
}

img {
	border:0;
}

address {
	font-style:normal;
}


// 全体

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

// .staticpages

.staticpages {
  background-image: url(sunset.jpg);
}

.signup {
  background-image: url(signup.jpg);
  background-size: 100%;
}

.admin-img {
  background-image: url(books-library.jpg);
  background-size: 100%;
}

.admin-detail {
  background-image: url(women1.jpg);
  background-size: 100%;
}

.admin-category {
  background-image: url(women1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.admin-category-new {
  background-image: url(bookcase.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
}

.jumbotron {
  background: rgba(151, 150, 150, 0.438) !important;
}

// .opacity {
//   background: rgba(200, 200, 200, 0.5);
// }

// home

.top-image {
  display: inline-block;
  text-align: center;
}

.top-text-area {
  text-align: center;
  padding: 30px 100px 0px 100px;
  margin: 0px 70px;
}

.top-text {
  font-size: 75px;
  display: inline-block;
  text-align: center;
}


// about

.float-right {
  float: right;
}


// dashboard
// profile

.card-body {
  padding: 1.25em;
}


.img-size {
  width: 180px;
  height: 180px;
}

.card-header {
  background-image: linear-gradient(rgba(230, 225, 225, 0.55), rgba(114, 114, 114, 0.626));
}

// admin-home

.admin-choice {
  margin-right: 400px;
  margin-left: 400px;
}

.home-content h1{
  letter-spacing: 0.1em;
}

// users-index

.media-container img {
  height: 120px;
  width: 120px;
}

.media-container h5 {
  padding-top: 50px;
  margin-left: 10px;
}

.media-container a {
  color: white;
  font-size: 25px;
}


// admin-index

.index-text-title {
  color: white;

}

.index-text-content {
  color: white;
}

// .admin-category-index

.category-title {
  letter-spacing: 0.1em;
}


.category-title-button a {
  width: 200px;
  margin: auto;
}

.index-text-content-edit-delete {
  color:blue;
}

.index-text-content-title {
  color: white;
}

// .admin-category-form

.admin-category-new-title {
  color: white;
}

//shared

.alert-list li {
  color: white;
}

//words

.form-control {
  display: block;
  width: 100%;
  height: calc(2.25rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
}