* {
	margin:0;
	padding:0;
}

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

html {
	overflow-y:scroll;
}

body {
    line-height: 1;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

p {
	margin:0 0 1em 0;
}

li {
	list-style-type:none;
}

ol, ul {
    list-style: none;
    list-style-type: none;
}

img {
	border:0;
}

address {
	font-style:normal;
}

// 全体



// .staticpages

.staticpages {
    background-image: url(sunset.jpg);

}

// home

.top-text-area {
    padding-top: 30px;
    display: inline-block;
    text-align: center;
    margin-left: 110px;
}


.top-text {
    font-size: 70px;
    display: inline-block;
    text-align: center;
}

// about

.float-right {
    float: right;
}

