<body class="category-lesson">
    <div class="container pt-4 mx-auto">
        <div class="row text-center">
            <div class=" jumbotron col-md-12 col-md-offset-4 pt-4 pb-3 mb-0">
                <div class="col-12">
                    <h1 class="page-title">Lessons</h1>
                    <ul class="nav nav-pills justify-content-center mt-4 mb-4">
                        <li class="nav-item tab-settings">
                            <a class="nav-link active" href="#">All</a>
                        </li>
                        <li class="nav-item tab-settings-list">
                            <a class="nav-link " href="#">Learned</a>
                        </li>
                        <li class="nav-item tab-settings-list">
                            <a class="nav-link " href="#">Not learned</a>
                        </li>
                    </ul>
                    <div class="row mt-3 ">
                        <% @categories.each do |category| %>
                            <div class="col-md-5 mb-3 px-2">
                                <div class="card category-each p-1">
                                    <div class="card-body">
                                        <h5 class="card-title"><%= category.title %></h5>
                                        <p class="card-text"><%= category.description %></p>
                                        <a href="#" class="btn btn-info mt-4">Check result</a>
                                    </div>
                                </div>
                            </div>
                        <% end %>
                    </div>
                </div>
                <nav aria-label="pagination">
                    <div class="pagination justify-content-center mt-3">
                        <%= will_paginate %>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</body>