<body class="admin-img">
    <div class="container pt-4 mx-auto">
        <div class="row text-center">
            <div class=" jumbotron col-md-12 col-md-offset-3 home-content">
                <h1 class="title">Administration</h1>
                <div class="admin-choice">
                    <a class="btn-block btn-lg btn-info mt-4" href=/admin/categories>Categories</a>
                </div>
                <p class="mt-4">You can change the categories, desc-riptions, words, answers and choices.</p>
                <div class="admin-choice">
                    <a class="btn-block btn-lg btn-info mt-4" href=/admin/users>Users</a>
                </div>
                <p class="mt-4">You can add or remove the administ-ration to users.</p>
                <a class="index_list btn btn-primary mt-2" href="/users/1">Back</a>
            </div>
        </div>
    </div>
</body>